
.topnav{
  background-color: #dd8080;
  color: #fff;
  position: fixed !important;
  z-index: 0 !important;
}

.logo{
  margin-top:-65px;
  width: 100%;
  z-index: 100;
  position: relative;
}

.cardss{
    max-width: 300px;
    width: 100%;
    right: 10%;
    position: fixed !important;
    top: 65px;
    padding: 20px;
    box-shadow: 1px 1px 10px 2px rgb(138 157 175 / 80%);
    border-radius: 10px;
    background: linear-gradient(#fff,#fff,#d0d0ce);
}

.form-text{
  color: #626e77;
  font-weight: 500;
  text-align: center;
  font-size: 20px !important;
}
.book-btn{
  background:#e4837e !important;
  color:#fff !important;
  border:#e4837e !important;
}
.banner{
background-color: #f2f2f2;

}

.banner-image{
  margin-top: 160px;
  width: 500px;
  float: right;
}
.banner-text{
  margin-top: 160px !important;

}

.banner-text h3{
  font-weight: 350;
  font-size: 34px;
}

.banner-text h4{
  font-weight: 600;
  font-size: 30px;
  color:#ad2807;
}

.banner-text p{
 color: #6c757d;
 font-weight: 500;
}


.post{
  background-color: #dd8080;
  color: #fff;
}
.line{
  border-right: 1px solid #fff;
}
.post-text{
text-align: center;
font-size: 18px;
font-weight:400;
}

.post-text b{
font-size: 25px;
}
.step-back{
  background: #f8d7da;
}

.step{
  font-size: 24px;
    color: #ad2807;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: auto;
    border-bottom: 1px solid #616161;
}
.step::after{
  content: '';
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  margin: auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #616161;
}
.step-heading{
  font-size: 20px;
  color: #ad2807!important;
}

.skin{
  font-size: 24px;
    color: #ad2807;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: auto;
    border-bottom: 1px solid #616161;
}
.skin::after{
  content: '';
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  margin: auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #616161;
}

.nav-pills button {
  padding: 5px;
}

.nav-pills button:hover {
color: #ad2807;
}
.nav-pills button{
  color: #8a9daf;
  border-top: 1px solid red !important;
  border-top-color: #8a9daf !important;
  border-radius: 0 !important;
  font-size: 18px;
  font-weight: 500;
  padding: 12px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #dd8080 !important;
    background-color: #fff!important;
}

.containerr {
  position: relative;
  padding: 10px 60px; 
  text-align: center;
}
.centered {
  position: absolute;
    bottom: 0;
    text-align: justify;
    padding: 2px 10px;
    background-color: #dd8080;
    opacity: .75;
    color: #fff;
}

.why{
  font-size: 24px;
    color: #ad2807;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: auto;
    border-bottom: 1px solid #616161;
}
.why::after{
  content: '';
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  margin: auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #616161;
}



.why-num{
  font-size: 20px;
  font-weight: 700;
  color: #dd8080;
  padding: 0;
  margin: 0;
}

.why-text{
  color: #9fb5c1;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.hr{
    width: 50%;
    margin-left:70px;
    border: 2px solid rgba(0,0,0,.1);
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}


.mob{
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {

  .des{
    display: none;
  }
.mob{
  display: block;
}

.banner-image{
  margin-top: 30px;
  width: 450px;
  padding-left: 150px;
}
.banner-text{
  margin-top: 50px !important;

}
.centered {
  position: inherit;
    bottom: 0;
    text-align: justify;
    padding: 2px 10px;
    background-color: #dd8080;
    opacity: .75;
    color: #fff;
}

.topnav{
  background-color: #dd8080;
  color: #fff;
  position:relative !important ;
}

.topnav h3{
  visibility: hidden;
}

.banner{
  padding-top: 350px !important;
  background-color: #f2f2f2;
  
  }

.cardss{
  max-width: 300px;
  width: 100%;
  right: 1%;
  top: 15px;
  position: relative !important;
  padding: 20px;
  box-shadow: 1px 1px 10px 2px rgb(138 157 175 / 80%);
  border-radius: 10px;
  background: linear-gradient(#fff,#fff,#d0d0ce);
}
.line {
  border-right: 0px solid #fff !important;
}

.line {
  border-bottom: 1px solid #fff;
}

.containerr {
  position: relative;
  padding: 10px 0px; 
  text-align: center;
}

.img{
  width: 300px;
}

 }